.page {
    display: flex;
    flex-direction: column;

}

.page__box {
    box-sizing: border-box;
    max-width: 1110px;
    margin:auto;
}

.page__delimiter {
    background: var(--bg-secondary);
}