@import "../../assets/css/variables.scss";

.burger-page {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #F9FAFC;
    transition: transform 200ms;
}

.burger-menu[data-open] {
    transform: translateX(0);
}

.burger-menu__top {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
}

.burger-menu__settings {
    display: flex;
    justify-content: space-between;
}

.burger-menu-open {
    color: #495057;
}

.burger-menu-close {
    color: red;
}

